.container-secret{
    background-image: url('../../images/bg_flash.gif');
    display: flex;
    min-height: 100vh;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .secret-text-wrapper{
      flex: 1;
      color: white;
      text-align: center;
  }

  .secret-image {
      flex: 9;
      max-height: 40vw;
  }

  

  @media screen and (max-width:768px){
    .secret-image{
        max-height: 70vw;
    }
}