.container-me{
    background-image: url('../../images/bgfalling.gif');
    display: flex;
    min-height: 100vh;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text-me{
    margin: 0px 20px 0px 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: left;
    font-size: 20px;
}


.white-links{
    color: white;
}

.links-container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: left;
}

.big-hi{
    font-size: 56px;
}

.link-picture{
    margin: 2vw 5vw 5vw 5vw;
    max-width: 48px;
    display: flex;

}