.container-app{
  background-image: url('../images/mainbg.gif');
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex : 1;
}

.reversed-column-container{
  display: flex;
  flex:1;
  flex-direction: column-reverse;
  align-items: center;
}

.link-main{
  text-decoration: underline;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.main-title-wrapper{
  border: black;
  color: beige;
  font-size: 40px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.login-link{
  color: white;
  position: absolute;
  margin: 20px;
  top: 0;
  left: 0;
}

.lain-container{
  min-height: 20vw;
}

.main-text-wrapper {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center; 
  font-size: calc(20px);
  padding-left: 1vw;
  padding-right: 1vw;
}


@media screen and (max-width: 768px){
  .lain-container{
    min-height: 40vw;
  }
}
