.container-moon{
  background-image: url('../../images/bgstars.gif');
  display: flex;
  min-height: 100vh;
  flex : 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moon-title-wrapper{
  border: black;
  color: beige;
  font-size: 30px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.moon-text-wrapper {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block; 
  font-size: calc(20px);
  padding-left: 1vw;
  padding-right: 1vw;
}

.link-moon{
  text-decoration: underline;
  color: white;
  margin: 20px;
}