.container-login{
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.link-home{
    color: white;
    position: absolute;
    margin: 20px;
    top: 0;
    left: 0;
}
  

.inputStyling{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: midnightblue;
    border: black;
    color: beige;
    font-size: 14px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
    margin: 1vw;
}

.incorrectInput{
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.formHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-text{
    color: white;
}

  