.artist-home{
    background-image: url('../../images/bgstatic.gif');
    display: flex;
    min-height: 100vh;
    flex : 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.artist-text-wrapper{
  border: black;
  color: beige;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  margin: 1vw;
}

.artist-link{
  text-decoration: underline;
  color: white;
  margin-top: 20px;
  
}

.artist-title-wrapper{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  font-size: 30px;

}

.artist-image {
  display: flex;
  flex: 0.5;

}

.artist-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  
}

.artist-text-small {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 768px){
  .fixed-picture{
    max-height: 40vw;
  }
  .artist-text{
    margin-bottom: 20vw;
  }
}
