.container-main{
  background-image: url('./bg.gif');
  display: flex;
  min-height: 100vh;
  flex : 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px){
  .container-main{
    flex-direction: column;
  }
}

.image-container{
  width: 35vw;
}

.main-text-wrapper {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block; 
  font-size: calc(20px);
  cursor: none;
  padding-left: 1vw;
  padding-right: 1vw;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
